<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="ISO-8859-1">
	<title>Login</title>
	<link rel="stylesheet" type="text/css" media="all"
		href="css/mystyle.css" th:href="@{/css/mystyle.css}" />
</head>
<body>
	<div class="divLogin" align="center">
		<h1 class="welcomeText" align="center">GALLERIA IMMAGINI</h1>
			<form action="CheckLogin" method="POST">
			<fieldset>
				<legend >Accedi all'applicazione</legend>
				<table class=loginTable>
					<tr>
						<td><input class="input" type="text" name="username" placeholder="username" maxlength="20" required th:value=" ${usernameInseritoLogin}"></td>
					</tr>
					<tr>
						<td><input class="input" type="password" name="password" placeholder="password" maxlength="20" required></td>
					</tr>
					<tr>			
						<td><input type="submit" value="Login" id="loginButton" class="button"></td>
					</tr>		
				</table>
				<p id="errorMsgLogin" class="error" th:text="${errorMsgLogin}"> </p>
				</fieldset>
			</form>
	</div>
	
	<br>

    <div class="divRegister" align="center">
	        <form action="CheckRegister" method="POST">
	        <fieldset>
	        	<legend >Nuovo utente? Registrati qui!</legend>
				<table class=registerTable>
					<tr>
						<td><input class="input" type="email" name="email" placeholder="email" maxlength="100" required th:value="${emailInserita}"></td>
					</tr>
	                <tr>
						<td><input class="input" type="text" name="username" placeholder="username" maxlength="20" required th:value="${usernameInserito}"></td>
					</tr>
					<tr>
						<td><input class="input" type="password" name="password" placeholder="password" maxlength="20" required></td>
					</tr>
	                <tr>
						<td><input class="input" type="password" name="passwordRepeated" placeholder="ripeti password" maxlength="20" required></td>
					</tr>
					<tr>			
						<td><input type="submit" value="Registrati" id="registrationButton" class="button"></td>
					</tr>		
				</table>
				<p id="successMsgRegistration" class="success" th:text="${successMsgRegistration}"></p>
				<p id="errorMsgRegistration" class="error" th:text="${errorMsgRegistration}"></p>
				</fieldset>
			</form>
    </div>
</body>
</html>