<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Album</title>
<link rel="stylesheet" type="text/css" media="all"
	href="../CSS/stylesheet.css" th:href="@{/css/stylesheet.css}" />
</head>
<body>
<h1>Visualizza l'album <span th:text="${albumTitle}"></span> di <span th:text="${albumOwner}">un utente</span></h1>

	<div>
		<form name="homePage" method="POST" action="HomePage">
  		<label class="homePageButton">
  		<input type="submit" value="Home Page">
  		</label>
  		</form>
  		<form name="logout" method="POST" action="Logout">
  		<label class="logoutButton">
  		<input type="submit" value="Logout">
  		</label>
		</form>
	</div>
	
	<div th:with="pageNum=${pageNumber}">
	<p class="emptyListMessage" th:if = "${#lists.isEmpty(albumImages)}">L'album non contiene nessuna immagine.</p>
		<table class="albumList" th:if = "${not #lists.isEmpty(albumImages)}">
		<tr>
			<td th:each="i : ${albumImages}" class="image">
			<a th:href="@{/AlbumPage(idImmagine=${i.id}, titoloImmagine=${i.imageTitle}, pageNumber=${pageNum})}">  
			<img th:src="@{/GetImage(imagePath=${i.path})}" alt="immagine" width="200" height="auto"></a>
			</td>
		</tr>
		<tr> 
			<td th:each="i : ${albumImages}" class="imageTitle" th:text="${i.imageTitle}"> 
			</td>
		</tr>
		</table>
	</div>
	<br>
	<div th:with="pageNum=${pageNumber}">
	
		<span th:text="${pageNumber}">Numero di pagina</span>
	
		<form name="previous" method="POST" action="#" th:action="@{/AlbumPage(buttonValue='previous', pageNumber=${pageNum})}" th:if="${previousButtonNeeded}">
  		<label class="previousButton">
  		<input type="submit" value="Precedenti" style="position: absolute; left: 0;">
  		</label>
  		</form>
  		
  		<form name="logout" method="POST" action="#" th:action="@{/AlbumPage(buttonValue='next', pageNumber=${pageNum})}" th:if="${nextButtonNeeded}">
  		<label class="nextButton">
  		<input type="submit" value="Successive" style="position: absolute; right: 0;">
  		</label>
		</form>
	</div>
	
	<br>
	<br>
	
	<div th:if = "${addImageAllowed}"> 
	<form name="addImage" method="POST" action="#" th:action="@{/GoToAddImage}">
  		<label class="addImageButton">
  		<input type="submit" value="Aggiungi immagini">
  		</label>
  	</form>
	</div>
	
	<br>
	<br>
	<div th:if = "${imageClicked}">
		<div class="imageClicked" th:if = "${imageClicked}">
		<img th:src="@{/GetImage(imagePath=${path})}" alt="immagine" th:if = "${imageClicked}">
		</div>
		<br>
		<div th:if = "${imageClicked}">
		<table class="imageInfo" th:if = "${imageClicked}">
		<tr>
			<th>Titolo immagine:</th><td th:text="${imageTitle}"></td>
		</tr>
		<tr>
			<th>Proprietario dell'immagine:</th><td th:text="${albumOwner}"></td>
		</tr>
		<tr>
			<th>Album a cui appartiene:</th><td th:text="${albumTitle}"></td>
		</tr>
		<tr>
			<th>Data crezione:</th><td th:text="${date}"></td>
		</tr>
		<tr>
			<th>Descrizione:</th><td th:text="${description}"></td>
		</tr>
		<tr>
			<th>Percorso:</th><td th:text="${path}"></td>
		</tr>
		
		</table>
		</div>
	</div>
	
	<div th:if = "${imageClicked}">
		<h2>Commenti:</h2>
		<fieldset style="height:100px; overflow-y: scroll; border:1px solid black;">
			<p class="emptyListComments" th:if = "${#lists.isEmpty(commenti)}">Non ci sono commenti.</p>
			<table class="commentsList" th:if = "${not #lists.isEmpty(commenti)}">
				<tr><td><strong>Utente</strong></td>
				<th> </th>
				<td><strong>Commento</strong></td></tr>
				<tr th:each="c : ${commenti}">
					<td th:text="${c.owner}">:</td>
					<th> </th>
					<td th:text="${c.text}"></td>
				</tr>
			</table>
		</fieldset>
	</div>
	
	<div th:if = "${imageClicked}" th:with="pageNum=${pageNumber}">
	<h2>Aggiungi commento:</h2>
		<form th:action="@{/AddComment(id_immagine=${imageId}, pageNumber=${pageNum})}" method="POST">
			<table>
				<tr><td>
				<textarea name="commentText" rows="10" cols="100" placeholder="Inserisci qui il tuo commento." maxlength="280" required ></textarea>
				</td></tr>
				<tr><td><input type="submit" value="Invia"></td></tr>
				<tr><td colspan="2" th:text=" ${successMsg}"> </td></tr>
			</table>
		</form>
	</div>
	
</body>
</html>