<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="ISO-8859-1">
	<title>Home</title>
	<link rel="stylesheet" type="text/css" media="all"
		href="../css/mystyle.css" th:href="@{/css/mystyle.css}" />
</head>
<body>
<h1>Visualizza i tuoi album, <span th:text="${session.utente.username}">utente</span></h1>

<form name="logout" method="POST" action="Logout">
  <label class="logoutButton">
  <input type="submit" value="Logout">
  </label>
</form>

	<div>
		<p class="emptyListMessage" th:if = "${#lists.isEmpty(userAlbums)}">Non hai ancora caricato nessun album.</p>
		<table class="albumList" th:if = "${not #lists.isEmpty(userAlbums)}" >
		<tr th:each="a : ${userAlbums}">
			<td class="album" >
				<a th:href="@{/GoToAlbumPage(titolo=${a.title}, proprietario=${a.owner})}" th:text="${a.title}">titolo</a>
			</td>
		</tr>
		</table>
	</div>
	
<form name="CreateAlbum" method="POST" action="CreateAlbum">
	<table class="createAlbumTable">
	  	<tr>			
			<td colspan="2" th:text=" ${errorMsg}"> </td>
	  	</tr>
	  	<tr>
	  		<td>
		  	<input type="text" name="title" placeholder="titolo album" maxlength="30" required >
		  	</td>
	  	</tr>
	  	<tr>
	  		<td>
		  	<label class="createAlbumButton">
		  	<input type="submit" value="Crea un nuovo album">
		  	</label>
		  	</td>
	  	</tr>
  	</table><br>
</form>
	
<h2>Visualizza gli album degli altri utenti</h2>
	<div>
	<p class="emptyListMessage" th:if = "${#lists.isEmpty(otherAlbums)}">Gli altri utenti non hanno ancora caricato nessun album.</p>
		<table class="albumList" th:if = "${not #lists.isEmpty(otherAlbums)}">
		<tr th:each="a : ${otherAlbums}">
			<td class="albumTitle">
				<a th:href="@{/GoToAlbumPage(titolo=${a.title}, proprietario=${a.owner})}" th:text="${a.title}">titolo</a>
			</td>
			<td class="albumOwner">
				<span th:text="${a.owner}">utente</span>
			</td>
		</tr>
		</table>
	</div>
</body>
</html>