<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="ISO-8859-1">
	<title>Home</title>
	<link rel="stylesheet" type="text/css" media="all"
		href="../css/mystyle.css" th:href="@{/css/mystyle.css}" />
</head>
<body>
<h1>Visualizza i tuoi album, <span th:text="${session.utente.username}">utente</span></h1>
	<div>
		<table class="albumList">
		<tr th:each="a : ${userAlbums}">
			<td class="album">
				<span th:text="${a.title}">titolo</span>
			</td>
		</tr>
		</table>
	</div>
<h2>Visualizza gli album degli altri utenti</h2>
	<div>
		<table class="albumList">
		<tr th:each="a : ${otherAlbums}">
			<td class="album">
				<span th:text="${a.title}">titolo</span>
			</td>
		</tr>
		</table>
	</div>
</body>
</html>