@charset "UTF-8";
.button{
	background-color: #469fd3; /* Light blue */
  	border: none;
  	color: white;
  	padding: 12px 32px;
  	text-align: center;
  	text-decoration: none;
  	display: inline-block;
  	font-size: 16px;
  	border-radius: 12px;
  	font-family: Arial, Helvetica, sans-serif;
}
.button:hover {
  	background-color: #FFFFFF; /* White */
  	color: #469fd3;
  	padding: 10px 30px;
  	border: 2px solid #469fd3; /* Light blue */
  	cursor: pointer;
}
.input{
	width: 100%;
  	padding: 12px 20px;
  	margin: 6px 0;
  	box-sizing: border-box;
  	font-size: 14px;
}
.loginTable, .registerTable, .imagesTable, .addImageTable{
	margin-left: auto;
  	margin-right: auto;
}

.welcomeText{
	padding: 20px 20px 10px 20px;
  	text-align: center;
  	color: #469fd3;
  	font-size: 50px;
  	font-family: Arial, Helvetica, sans-serif;
}
.pageText{
	padding: 10px 10px 5px 10px;
  	text-align: center;
  	color: #469fd3;
  	font-size: 30px;
  	font-family: Arial, Helvetica, sans-serif;
}
.error{
  	text-align: center;
	color: #D8000C;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 16px;
	margin: auto;
	padding: 8px 2px 8px 2px;
}
.success{
  	text-align: center;
	color: #4F8A10;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 16px;
	margin: auto;
	padding: 8px 2px 8px 2px;
}
.warning{
  	text-align: center;
	color: #9F6000;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 16px;
	margin: auto;
	padding: 8px 2px 8px 2px;
}
.emptyListMessage{
	font-family: Arial, Helvetica, sans-serif;
	font-size: 18px;
	color:black;
	text-align: center;
}
.app-button{
    display:inline-block;
    text-align: center;
    background-color: #01AAAD;
    width: 150px;margin:0;
    line-height: 60px;
}
.text{
	font-family: Arial, Helvetica, sans-serif;
	font-size: 18px;
	color:black;
}
.homePageButton{
	position: absolute;
	left: 5px;
}
.logoutButton{
	position: absolute;
	right: 5px;
}
#loginButton, #registrationButton{
	margin: auto;
}
#pageNumber{
	font-family: Arial, Helvetica, sans-serif;
	font-size: 18px;
	color:black;
	margin-top: 50px;
}
#addImage{
	margin-top: 50px;
}
#imagesTable{
	border-collapse:separate;
    border-radius:6px;
    margin-left: auto;
  	margin-right: auto;
  	border: 1px solid #469fd3; 
	padding: 8px;
	background-color: white;
	vertical-align:middle;
} 
#image{
	padding: 10px;
}
#imageInfo, #commentsList{
	border-collapse:separate;
    border-radius:6px;
    margin-left: auto;
  	margin-right: auto;
  	border: 1px solid #469fd3;
	padding: 8px;
	background-color: white;
}
#imageTitle{
	font-family: Arial, Helvetica, sans-serif;
	font-size: 18px;
	color:black;
}
#myAlbumsContainer td, #myAlbumsContainer th, #otherAlbumsContainer td, #otherAlbumsContainer th{
	font-family: Arial, Helvetica, sans-serif;
	font-size: 16px;
  	border: 1px solid #ddd;
  	padding: 8px;
}
#myAlbumsContainer tr:hover, #otherAlbumsContainer tr:hover{
	background-color: #ddd;
}
#myAlbumsContainer th, #otherAlbumsContainer th{
  	padding-top: 12px;
  	padding-bottom: 12px;
  	text-align: center;
  	background-color: #469fd3;
  	color: white;
}
#commentsList{
	display: inline-block;
}
fieldset {
  	text-align: center;
	border: 1px solid #469fd3;
	width: 40%;
	background: white;
	padding: 6px;
  	border-radius: 12px;
}
fieldset legend {
	border: 1px solid #469fd3;
	background: white;
	padding: 6px;
	font-weight: bold;
	text-align: center;
  	color: #469fd3;
  	font-size: 20px;
  	font-family: Arial, Helvetica, sans-serif;
  	border-radius: 6px;
}
textarea {
  	width: 100%;
  	height: 150px;
  	padding: 12px 20px;
  	box-sizing: border-box;
  	border: 1px solid #ccc;
  	border-radius: 4px;
  	background-color: #ffffff;
  	resize: none;
  	font-size: 14px;
  	font-family: Arial, Helvetica, sans-serif;
}